<!DOCTYPE html>
<html>
{% include 'layouts/head.twig' %}
<body>
{% include 'layouts/navbar.twig' %}

<div class="container p-3">

    {% include 'layouts/breadcrumb.twig' %}
    <h4 class="float-left">{{ magazine_info.name }}</h4>
    <a href="{{ magazine_info.url }}" target="_blank" class="badge badge-info mx-3">
        公式サイト
    </a>
    <hr>

    <p>タグ：{{ magazine_info.tags }}</p>

    <div class="row px-3">
        <table class="table table-striped table-sm table-bordered">
            <thead>
                <tr>
                    <th>号</th>
                    <th>発売日</th>
                </tr>
            </thead>
            <tbody>
            {% for item in release_dates %}
                <tr>
                    <td>
                        {{ item['title'] }}
                    </td>
                    <td>
                        {{ item['release_date'] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</body>
</html>